@page "/formbind" 
<h3>Reactividad</h3>
<div class="form-group">
    <label>Dato ingresado</label>
    <input type="text"  @bind-value="@numero1" @bind-value:event="oninput" class="form-control" />
</div>

<div class="form-group">
    <label>Dato actualizado</label>
    <input type="text" @bind="@numero1" class="form-control" />
</div>

@code {
    private int numero1 = 0;

}
